/BooleanApp.class
/ComparisonOperatorApp.class
/IfApp.class
/EqualsApp.class
/LoopApp.class
/ArrayApp.class
/AuthApp.class
/AuthAPPP.class
/AuthApp3.class
/FirstMethod.class
/WhyMethod.class
/WhyMethodTwo.class
/WhyMethodThree.class
